#div1 {
	background-color: red;
	width: 150px;
	height: 100px;
	padding: 100px;
	text-align: center;
	border-radius: 50px;
}
#div2 {
	background-color: blue;
	height: 100px;
	width: 150px;
	padding: 100px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}

#div2 {
	background-color: blue;
	height: 100px;
	width: 150px;
	padding: 100px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}

#div3 {
	display: inline-flex;
	flex-direction: column;
}
